/* src/components/common/Logo/Logo.module.scss */

.logoLink {
  display: inline-flex;
  align-items: center;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8; /* یه افکت ساده موقع هاور کردن */
  }
}

.logoImage {
  object-fit: contain; /* برای جلوگیری از دفرمه شدن عکس */
}
