// src/assets/styles/globals.scss

// ۱. اضافه کردن فونت‌ها
@use 'base/fonts' as *;
// ۲. ریست کردن استایل‌های پیش‌فرض مرورگر
// ۳. استایل‌های پایه‌ای بادی (Body)
@use 'utils/variables' as *; // فقط برای استفاده در همین فایل

body {
  font-family: $font-family-main;
  background-color: $color-background;
  color: $color-text-main;
  direction: rtl; // راست‌چین کردن کل سایت
}

a {
  text-decoration: none;
  color: inherit;
}

// نکته: هیچ کامپوننتی (مثل دکمه، هدر، کارت محصول) نباید اینجا استایل‌دهی شود!
