// components/profile/BackToSidebar/BackToSidebar.module.scss
@use '@/assets/styles/utils/variables' as *;
@use '@/assets/styles/utils/mixins' as *;

.backButton {
  display: none;
  
  @media (max-width: $breakpoint-md) {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    
    cursor: pointer;
    background-color: transparent;
    border: none;
    
    
    svg {
      width: 34px;
      height: 30px;
    }
  }
}