@use '@/assets/styles/utils/variables' as *;
@use '@/assets/styles/utils/mixins' as *;

.container{
padding: $spacing-xl $spacing-xxxl;

@include respond-down('md') {
    padding: $spacing-xl ;
  }

  @include respond-down('sm') {
    padding: $spacing-xl ;
  }
}