@import '@/assets/styles/utils/variables';
@import '@/assets/styles/utils/mixins';

.container{
padding: $spacing-xl $spacing-xxxl;

@include respond-down('md') {
    padding: $spacing-xl ;
  }

  @include respond-down('sm') {
    padding: $spacing-xl ;
  }
}